.container{:style => "padding-left: 60px;"}
  = form_for @fuel_unit, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :unit_id, :class => 'control-label'
      .controls= f.collection_select :unit_id, Unit.find(:all), :id, :name, :include_blank => t('helpers.prompt.select_unit'), :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :dept_account, :class => 'control-label'
      .controls= f.collection_select :dept_account, Unit.find(:all), :id, :name, :include_blank => t('helpers.prompt.select_depot_account'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :report_date, :class => 'control-label'
      .controls= f.text_field :report_date, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_after'
    
    .form-group
      .col-lg-offset-2.col-lg-10
        = f.fields_for :fuel_issueds do |builder|
          = render 'fuel_issued_fields', f: builder
        = link_to_add_fields (t 'fuel_issueds.add_details'), f, :fuel_issueds
        
    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        fuel_units_path, :class => 'btn'     

